.SiderMenu {
  min-height: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin: 16px;
    color: #fff;
    font-size: 20px;
    background: rgb(255 255 255 / 20%);
  }
}

.FooterMenu {
  text-align: center;
}
